@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import "../var";
@import "../global";
@import "../bootstrapStyle/main";
@import "../header";
@import "./main";
@import "./sectionfirst";
@import "./sectionsecond";
@import "./sectionthird";
@import "./sectionfour";
@import "./sectionfive";
@import "./sectionsix";
@import "./sectionseven";
@import "../footer";

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 0 !important;
}
* {
  box-sizing: border-box;
}

ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  margin: 0;
  padding: 0;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  color: $white;
}
li {
  list-style: none;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  padding: 0;
}
.main-wrap {
  min-height: calc(100vh - 92px);
}
// MIXINS
.container {
  width: auto;
}
@mixin container($width) {
  max-width: $width;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.container {
  @include container(1280px);
}
// FlexContainer
.flex-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.flex-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.slider-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.accordion-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sectionsix-container {
  display: flex;
  justify-content: center;
}
// keyframes

// mediaquerry //////////////////////

@media screen and (max-width: 1400px) {
  // flex containers  MAIN SECtion
  .main {
    padding-bottom: 40px;
    & > .flex-container {
      justify-content: center;
    }
    &-title {
      padding-bottom: 40px;
    }
  }
  //  SECTION FIRST ( MAIN PAGE )
  .sectionfirst {
    padding: 60px 0;
  }

  // SECTION SECOND (MAIN PAGE )
  .sectionsecond {
    &-title {
      justify-content: space-around;
    }
    &-box2 {
      flex-direction: row;
    }
  }
  .container {
    & > .flex-wrap {
      &:last-child {
        justify-content: center;
        gap: 20px;
      }
    }
  }

  // SECTION FOUR (FIRST PAGE)

  .sectionfour {
    &-reviews {
      max-width: none;
      padding-bottom: 40px;
    }
  }
  .slider-flex {
    justify-content: center;
  }

  // SECTION SIX (FIRST PAGE )
}

///////////////////////////////////

@media screen and (max-width: 1200px) {
  //  SECTION FIRST (MAIN PAGE)
  .sectionfirst {
    & > .flex-container {
      gap: 30px;
      justify-content: center;
    }
    &-title {
      max-width: none;
    }
  }

  //  SECTION SECOND (FIRST PAGE) //

  .sectionsecond {
    &-list {
      transform: none;
    }
    &-block {
      &__list {
        transform: none;
      }
    }
  }

  // SECTION FIVE (FIRST PAGE)

  .sectionfive {
    padding: 60px 0px;
    &-ask {
      max-width: 612px;
      width: 100%;
      padding-bottom: 15px;
    }
  }
  .accordion-flex {
    justify-content: center;
  }
  .sectionsix {
    &-container {
      flex-direction: column;
      align-items: center;
    }
    &-bgc {
      max-width: 625px;
    }
  }
}
@media screen and (max-width: 992px) {
  // HEADER  BURGER MENU
  .navbar {
    display: block;
  }
  .header {
    &-nav {
      display: none;
    }
  }
  //  SECTION FOUR (FIRST PAGE )
  .sectionfour {
    &-slider {
      max-width: 590px;
    }
  }
}

///////////////////////////////////////////////

@media screen and (max-width: 768px) {
  .main {
    padding-top: 40px;
    padding-bottom: 20px;
    &-title {
      padding-bottom: 20px;
      max-width: 480px;
      & > .h1 {
        font-size: 42px;
        line-height: 54px;
      }
    }
  }
  //  SECTION FIRST ( MAIN PAGE )
  .sectionfirst {
    padding: 30px 0;
    &-list {
      justify-content: center;
      gap: 20px;
    }
    &-title {
      max-width: 320px;
      & > .h2 {
        font-size: 42px;
        line-height: 54px;
      }
    }
  }

  // SECTION SECOND (FIRST PAGE )

  .sectionsecond {
    padding: 60px 0px;
    &-box1 {
      & > img {
        width: 414px;
        height: 284px;
      }
    }
    &-box2 {
      flex-direction: column;
    }
    &-list {
      max-width: none;
      & > .h6 {
        font-size: 18px;
        line-height: 26px;
      }
      & > .p2-body {
        font-size: 14px;
        line-height: 26px;
        padding-bottom: 20px;
      }
    }
    &-block {
      &__list {
        & > .h6 {
          font-size: 18px;
          line-height: 26px;
        }
        & > .p2-body {
          font-size: 14px;
          line-height: 26px;
          padding-bottom: 20px;
        }
      }
    }
    &-title {
      & > .h2 {
        font-size: 34px;
        line-height: 48px;
      }
    }
  }

  // SECTION THIRD (FIRST PAGE )

  .sectionthird {
    padding: 60px 0px;
    &-title {
      & > .h2 {
        font-size: 32px;
        line-height: 46px;
      }
    }
  }

  //  SECTION FOUR (FIRST PAGE )

  .sectionfour {
    padding: 60px 0;
    &-reviews {
      & > .h3 {
        font-size: 30px;
        line-height: 42px;
      }
    }
  }
  .carousel {
    &-inner {
      min-height: auto;
    }
    &-item {
      & > .h5 {
        font-size: 24px;
        line-height: 36px;
      }
    }
  }

  // SECTION FIVE (FIRST PAGE)

  .sectionfive {
    padding: 30px 0px;
    &-ask {
      max-width: 612px;
      width: 100%;
      padding-bottom: 10px;
      & > .h3 {
        font-size: 28px;
        line-height: 38px;
      }
    }
  }
  span.accordion-span {
    margin-right: 30px;
  }
  button.h6 {
    font-size: 18px;
  }
  .accordion {
    &-body {
      padding: 1rem 1.25rem;
      & > .label-one {
        font-size: 16px;
        line-height: 28px;
      }
    }
  }

  //  SECTION SIX (FIRST PAGE)

  .sectionsix {
    &-bgc,
    &-form {
      max-width: 550px;
    }
    &-bgc {
      & > .h1 {
        font-size: 42px;
        line-height: 54px;
      }
    }
  }
}

////////////////////////////////////// /////////////////

@media screen and (max-width: 576px) {
  // MAIN SECTION
  .main {
    padding-top: 40px;
    padding-bottom: 20px;
    &-title {
      padding-bottom: 20px;
      max-width: 350px;
      & > .flex-container {
        gap: 20px;
        justify-content: center;
      }
      & > .h1 {
        font-size: 32px;
        line-height: 46px;
      }
    }
  }
  //  SECTION FIRST ( MAIN PAGE )
  .sectionfirst {
    padding: 20px 0;
    &-title {
      & > .h2 {
        font-size: 32px;
        line-height: 46px;
      }
    }
    &-list {
      &__box {
        & > .h5 {
          font-size: 26px;
          line-height: 38px;
        }
      }
    }
  }

  //  SECTION SECOND (FIRST PAGE )

  .sectionsecond {
    padding: 30px 0px;
    &-title {
      & > .h2 {
        font-size: 24px;
        line-height: 36px;
      }
    }
    &-box1 {
      & > img {
        width: 350px;
        height: 220px;
      }
    }
    &-box2 {
      max-width: 350px;
    }
    &-block,
    &-block2 {
      & > img {
        width: 350px;
        height: 220px;
      }
    }
    &-block2 {
      &__link {
        & > img {
          width: 100%;
        }
      }
    }
  }

  //  SECTION THIRD (FIRST PAGE)

  .sectionthird {
    padding: 30px 0px;
    &-title {
      & > .h2 {
        font-size: 24px;
        line-height: 36px;
      }
    }
    &-box {
      & > .h6 {
        font-size: 18px;
        line-height: 26px;
      }
      & > .p1-body {
        font-size: 14px;
        line-height: 26px;
      }
    }
  }

  // SECTION FOUR (FIRST PAGE )

  .sectionfour {
    padding: 30px 0;
    &-reviews {
      & > .h3 {
        font-size: 24px;
        line-height: 36px;
      }
      & > .p1-body {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
  .carousel {
    &-inner {
      min-height: auto;
    }
    &-item {
      & > .h5 {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }

  // SECTION FIVE (FIRST PAGE)

  .sectionfive {
    &-ask {
      & > .h3 {
        font-size: 24px;
        line-height: 36px;
      }
      & > .label-one {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  // SECTION SIX (FIRST PAGE)

  .sectionsix {
    padding: 30px 0;
    &-bgc,
    &-form {
      max-width: 400px;
      min-height: 400px;
    }
    &-bgc {
      padding: 45px;

      & > .h1 {
        font-size: 32px;
        line-height: 46px;
      }
      & > .p2-body {
        font-size: 14px;
        line-height: 24px;
      }
    }
    &-block {
      padding-top: 45px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-button {
      width: 250px;
    }
    &-title {
      padding: 20px;
      & > .h5 {
        font-size: 18px;
        line-height: 26px;
      }
      & > .label-two {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
}

//  HEADER BURGER MENU (BOOTSTRAP RESTYLE)
.offcanvas {
  width: 200px;
  position: fixed;
  height: 450px;
  top: 0%;
  right: 0;
  border-radius: 12px 0px 0px 85px;
  background: $tintBlue;
}
