@import "../var";

//
@import "../global";

.header-list {
  & > li {
    & > .faq-nav__link {
      padding: 12px 16px;
      display: inline-block;
      color: $whiteGrey;
      &:hover {
        color: $white;
      }
    }
  }
  & > li {
    &:nth-child(5) > .faq-nav__link {
      color: $white;
    }
  }
}

.questions {
  padding: 130px 0;
  @media screen and (max-width: 992px) {
    padding: 60px 0;
  }
  @media screen and (max-width: 576px) {
    padding: 30px 0;
  }
}
