main.main 
    .container.flex-container 
        .main-title 
            h1.h1 Building stellar websites for early startups
            p.p2-body Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
            .main-btn.flex-container
                button(type="button").button 
                    a.main-btn__link.label-one(href="#") View our work
                a.main-btn__price.label-two(href="#") View Pricing
                    object.main-btn__obj(data="./assets/icons/arrow.svg", type="image/svg+xml")   
        .main-picture
            img.main-img(src="./assets/icons/mainPicture.svg", alt="")