section.sectionfour 
    .container.slider-flex
        .sectionfour-reviews 
            h3.h3 What our clients say about us
            p.p1-body Lorem ipsum dolor sit amet, consectetur adipiscing elit sed.
        .sectionfour-slider
            #carouselExampleControls.carousel.slide(data-bs-ride='carousel')
                .carousel-inner
                    .carousel-item.active
                        h5.h5 "The best agency we’ve worked with so far. They understand our product and are able to add new features with a great focus."
                        .carousel-clients 
                            img(src="./assets/images/woman.png", alt="")
                            .carousel-clients__info 
                                p.label-one Jenny Wilson
                                p.p3-body Vice President
                    .carousel-item
                        h5.h5 "The best agency we’ve worked with so far. They understand our product and are able to add new features with a great focus."
                        .carousel-clients 
                            img(src="./assets/images/woman.png", alt="")
                            .carousel-clients__info 
                                p.label-one Jenny Wilson
                                p.p3-body Vice President
                    .carousel-item
                        h5.h5 "The best agency we’ve worked with so far. They understand our product and are able to add new features with a great focus."
                        .carousel-clients 
                            img(src="./assets/images/woman.png", alt="")
                            .carousel-clients__info 
                                p.label-one Jenny Wilson
                                p.p3-body Vice President
                    button.slider-button.prev-btn(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='prev')
                        span.slider-span(aria-hidden='true')
                            ion-icon(name='arrow-back-outline')
                    button.slider-button.next-btn(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='next')
                        span.slider-span(aria-hidden='true')
                            ion-icon(name='arrow-forward-outline')
                        
