section.sectionsix  
    .container
        .sectionsix-box.sectionsix-container
            .sectionsix-bgc 
                h2.h1 Building stellar websites for early startups
                p.p2-body Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim.
            .sectionsix-form
                .sectionsix-block 
                    .sectionsix-title 
                        h5.h5 Send inquiry
                        p.label-two Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                    .sectionsix-txt 
                        input.sectionsix-input(type="text" placeholder="Your Name")
                    .sectionsix-email 
                        input.sectionsix-input(type="email" placeholder="Email")
                    .sectionsix-url
                        input.sectionsix-input(type="text" placeholder="Paste your Figma design URL")
                    button(type="button").button.sectionsix-button Send an Inquiry
                    a.sectionsix-link(href="#") Get in touch with us
                        object.sectionsix-obj(data="./assets/icons/arrow.svg", type="") 

