section.sectionfirst 
    .container.flex-container
        .sectionfirst-title 
            h2.h2 How we work
            p.p1-body Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
            a.sectionfirst-title__link(href="#") Get in touch with us
                object.sectionfirst-title__obj(data="./assets/icons/arrowBlue.svg", type="image/svg+xml")  
        .sectionfirst-list 
            each boxInfo in boxVar
                .sectionfirst-list__box 
                    object.sectionfirst-list__obj(data=boxInfo.object, type="image/svg+xml") 
                    h5.h5=boxInfo.title
                    p.p1-body=boxInfo.txt
