//-  header vars third Page FEAUTUREs 

- var linkVar = [{link: '../../index.html', title: 'Home'},{link: './aboutUs.html', title: 'About us'},{link: './feautures.html', title: 'Features'},{link: './pricing.html', title: 'Pricing'},{link: './faq.html', title: 'FAQ'},{link: './blog.html', title: 'Blog'}]

//-  {PRICE VAR}
-var priceVar = [{price: "$299", month: "Per Design", service: "Landing Page", serviceTitle: "When you’re ready to go beyond prototyping in Figma.", object: "../../assets/icons/greenpoint.svg", object2: "../../assets/icons/redpointer.svg", first: "All limited links", second: 'Own analytics platform', third: "Chat support", four: "Optimize hashtags", five: "Unlimited users", button: "Get started "}]
-var priceVar2nd = [{price: "$399", month: "Multi Design", service: "Website Page", serviceTitle: "When you’re ready to go beyond prototyping in Figma, Webflow’s ready to help.", object: "../../assets/icons/greenpoint.svg", first: "All limited links", second: 'Own analytics platform', third: "Chat support", four: "Optimize hashtags", five: "Unlimited users", button: "Get started "}]
-var priceVar3rd = [{price: "$499+", month: "Per Design", service: "Complex Project", serviceTitle: "When you’re ready to go beyond prototyping in Figma.", object: "../../assets/icons/greenpoint.svg", first: "All limited links", second: 'Own analytics platform', third: "Chat support", four: "Optimize hashtags", five: "Unlimited users", six: "Assets and help", button: "Get started "}]