.main {
  background: transparent;
  min-height: auto;
  padding: 130px 0;
  @media screen and (max-width: 992px) {
    padding: 60px 0;
  }
  @media screen and (max-width: 576px) {
    padding: 30px 0;
  }
}
.blog {
  &-title {
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
    & > .h2 {
      padding-bottom: 15px;
      @media screen and (max-width: 992px) {
        font-size: 28px;
        line-height: 38px;
      }
      @media screen and (max-width: 576px) {
        font-size: 24px;
        line-height: 36px;
        padding-bottom: 5px;
      }
    }
    & > .label-two {
      padding-bottom: 30px;
      @media screen and (max-width: 576px) {
        padding-bottom: 15px;
      }
    }
  }
  &-about {
    max-width: 830px;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
    @media screen and (max-width: 992px) {
      padding: 35px;
    }
    @media screen and (max-width: 576px) {
      padding: 25px;
    }
    & > .p1-body {
      padding-bottom: 15px;
      opacity: 0.7;
      &:last-child {
        opacity: 1;
        color: $royalBlue;
        padding: 0;
        &:hover {
          transition: 0.3s ease;
          text-shadow: 0 0 8px #1c1e53;
        }
      }
      @media screen and (max-width: 576px) {
        font-size: 14px;
        padding-bottom: 5px;
      }
    }
  }
  &-img {
    width: 100%;
  }
  &-subtitle {
    & > .h2 {
      padding-bottom: 15px;
      @media screen and (max-width: 992px) {
        font-size: 28px;
        line-height: 38px;
        text-align: center;
      }
      @media screen and (max-width: 576px) {
        font-size: 24px;
        line-height: 36px;
      }
    }
  }
}
//
.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (max-width: 992px) {
}
