doctype html
html(lang="en")
    include ../blog/headBlog
    body 
        include ../blog/varBlog
        .main-wrap 
            include ../blog/headerBlog
            include ../blog/mainBlog
            include ../blog/beforFoter
        include ../blog/footerBlog
        script(type='module' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js')
        script(nomodule='' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js') 