section.section 
    .container 
        .section-main
            .section-info 
                a.section-logo__link(href="#")
                    object.section-logo__obj(data="./assets/icons/headerlogo.svg", type="")  
                p.label-two.section-txt We are always open to discuss your project and improve your online presence.
                .section-contact 
                    .section-mail 
                        p.label-one Email me at
                        a.p1-body(href="#") contact@website.com
                    .section-number
                        p.label-one Call us
                        a.p1-body(href="#") 0927 6277 28525 
            .section-network
                h2.h2 Lets Talk!
                p.p1-body.section-network__txt We are always open to discuss your project, improve your online presence and help with your UX/UI design challenges.
                a.section-icon(href="#")
                    ion-icon.icons.icon-facebook(name='logo-facebook')
                a.section-icon(href="#") 
                    ion-icon.icons.icon-twitter(name='logo-twitter')
                a.section-icon(href="#")
                    ion-icon.icons.icon-insta(name='logo-instagram')
                    
                a.section-icon(href="#")
                    ion-icon.icons.icon-linkdn(name='logo-linkedin')

