
//-  fIRST PAGE HEADER

- var linkVar = [{link: './index.html', title: 'Home'},{link: './pug/pugMainPages/aboutUs.html', title: 'About us'},{link: './pug/pugMainPages/feautures.html', title: 'Features'},{link: './pug/pugMainPages/pricing.html', title: 'Pricing'},{link: '#', title: 'FAQ'},{link: '#', title: 'Blog'}]

//- header.header 
//-     .container 
//-         .header-logo 
//-             a.header-logo__link(href="#") 
//-                 object.header-logo__obj(data="./assets/icons/headerlogo.svg", type="") 
//-         .header-nav 
//-             ul.header-list 
//-                 each headerLink in linkVar
//-                     li
//-                         a.header-nav__link(href=headerLink.link)=headerLink.title
//-                 button(type='button').header-btn
//-                     a.header-btn__link(href="#") Contact us





//-  FIRST PAGE  SECTION FIRST 

-var boxVar = [{object: './assets/icons/pointOne.svg', title: 'Strategy', txt: 'Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam .'},{object: './assets/icons/pointTwo.svg', title: 'Wireframing', txt: 'Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam .'}, {object: './assets/icons/pointThree.svg', title: 'Design', txt: 'Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam .'}, {object: './assets/icons/pointFour.svg', title: 'Development', txt: 'Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam .'}]


//-  SECTION SECOND VAR (FIRST PAGE)

-var sectionSecondVar = [{img: './assets/images/pictureFirst.png', title: 'Workhub office Webflow Webflow Design', txt: 'Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam', link: '#', linkTitle: 'View project ', object: './assets/icons/arrowGold.svg'}]


//-  SECTION THIRD VAR (FIRST PAGE)

-var section3Var = [{object: './assets/icons/peopleIcon.svg', title: 'Uses Client First', txt: 'Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam sed faucib turpis eu gravida mi. Pellentesque et velit aliquam sed mi.'}, {object: './assets/icons/readyIcon.svg', title: 'Two Free Revision Round', txt: 'Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam sed faucib turpis eu gravida mi. Pellentesque et velit aliquam sed mi.'}, {object: './assets/icons/pencilIcon.svg', title: 'Template Customization', txt: 'Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam sed faucib turpis eu gravida mi. Pellentesque et velit aliquam sed mi.'}, {object: './assets/icons/questionIcon.svg', title: '24/7 Support', txt: 'Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam sed faucib turpis eu gravida mi. Pellentesque et velit aliquam sed mi.'}, {object: './assets/icons/timerIcon.svg', title: 'Quick Delivery', txt: 'Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam sed faucib turpis eu gravida mi. Pellentesque et velit aliquam sed mi.'}, {object: './assets/icons/notebookIcon.svg', title: 'Hands-on approach', txt: 'Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam sed faucib turpis eu gravida mi. Pellentesque et velit aliquam sed mi.'}]

//-  SECTION SEVEN VAR ( FIRST PAGE )
-var boxItem = [{img: './assets/images/blogimgone.png', date: '19 Jan 2022', title: 'How one Webflow user grew his single person consultancy from $0-100K in 14 months', txt: 'See how pivoting to Webflow changed one person’s sales strategy and allowed him to attract', object: './assets/icons/arrowDarkblue.svg'},{img: './assets/images/blogimgtwo.png', date: '19 Jan 2022', title: 'How one Webflow user grew his single person consultancy from $0-100K in 14 months', txt: 'See how pivoting to Webflow changed one person’s sales strategy and allowed him to attract', object: './assets/icons/arrowDarkblue.svg'},{img: './assets/images/blogimgthree.png', date: '19 Jan 2022', title: 'How one Webflow user grew his single person consultancy from $0-100K in 14 months', txt: 'See how pivoting to Webflow changed one person’s sales strategy and allowed him to attract', object: './assets/icons/arrowDarkblue.svg'}]