main.main 
    .container 
        .contact 
            .contact-title 
                h2.h2 Contact Us
                p.p1-body Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
            .contact-form 
                form(method="POST") 
                    .contact-box    
                        .contact-name
                            label.label-one(for="text") Name
                            input.contact-input(type="text" name="text" id="text" placeholder="Enter your name")
                        .contact-email 
                            label.label-one(for="email") Email 
                            input.contact-input(type="email" name="email" id="email" placeholder="Enter your Email") 
                        .contact-subject 
                            label.label-one(for="subjectOne") Subject 
                            input.contact-input(type="text" id="subjectOne" placeholder="Subject")
                        .contact-subject 
                            label.label-one(for="subjectTwo") Subject 
                            input.contact-input(type="text" id="subjectTwo" placeholder="Subject")
                    .contact-text 
                        label.label-one(for="area") Message   
                        textarea.contact-txt(name="area" id="area")  
                    button.button-black.contact-btn(type="submit") Send Message
