header.header 
    .container.flex-wrap
        .header-logo 
            a.header-logo__link(href="../../index.html") 
                object.header-logo__obj(data="../../assets/icons/headerlogo.svg", type="") 
        .header-nav 
            ul.header-list.flex-container
                each headerLink in linkVar
                    li
                        a.header-about__link(href=headerLink.link)=headerLink.title
                button(type='button').header-btn
                    a.header-btn__link(href="#") Contact us
        nav.navbar
            button.navbar-toggler(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasNavbar' aria-controls='offcanvasNavbar')
                span.navbar-toggler-icon
            #offcanvasNavbar.offcanvas.offcanvas-end(tabindex='-1' aria-labelledby='offcanvasNavbarLabel')
                .offcanvas-header
                    a.offcanvas-link(href="#") {Finsweet
                    button.text-reset.btn-exit(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
                        ion-icon.btn-icon(name='close-outline')
                .offcanvas-body
                    ul.navbar-nav.justify-content-end.flex-grow-1.pe-3
                        each headerLink in linkVar
                            li.nav-item
                                a.nav-link(href=headerLink.link)=headerLink.title
                        button(type='button').header-btn
                            a.header-btn__link(href="#") Contact us