main.main 
    .container.flex-wrap
        .main-aboutUs 
            p.label-one About us
            h2.h1 Our designs solve problems
            p.p1-body Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        .main-picture 
            img.main-img(src="../../assets/images/aboutUs.png", alt="")
