section.sectionteam 
    .container
        .sectionteam-title 
            h2.h2 Meet our team
        .sectionteam-box
            .sectionteam-box__item
                .item-block__img
                .item-block__gradient
                    a.item-block__href(href="#") 
                        ion-icon.icons.facebook(name='logo-facebook')
                    a.item-block__href(href="#") 
                        ion-icon.icons.twitter(name='logo-twitter')
                    a.item-block__href(href="#") 
                        ion-icon.icons.linkedn(name='logo-linkedin')
                .item-block__info
                    h6.h6 John Smith
                    p.p1-body CEO
            .sectionteam-box__item
                .item-block__img
                .item-block__gradient
                    a.item-block__href(href="#") 
                        ion-icon.icons.facebook(name='logo-facebook')
                    a.item-block__href(href="#") 
                        ion-icon.icons.twitter(name='logo-twitter')
                    a.item-block__href(href="#") 
                        ion-icon.icons.linkedn(name='logo-linkedin')
                .item-block__info
                    h6.h6 John Smith
                    p.p1-body CEO
            .sectionteam-box__item
                .item-block__img
                .item-block__gradient
                    a.item-block__href(href="#") 
                        ion-icon.icons.facebook(name='logo-facebook')
                    a.item-block__href(href="#") 
                        ion-icon.icons.twitter(name='logo-twitter')
                    a.item-block__href(href="#") 
                        ion-icon.icons.linkedn(name='logo-linkedin')
                .item-block__info
                    h6.h6 John Smith
                    p.p1-body CEO
            .sectionteam-box__item
                .item-block__img
                .item-block__gradient
                    a.item-block__href(href="#") 
                        ion-icon.icons.facebook(name='logo-facebook')
                    a.item-block__href(href="#") 
                        ion-icon.icons.twitter(name='logo-twitter')
                    a.item-block__href(href="#") 
                        ion-icon.icons.linkedn(name='logo-linkedin')
                .item-block__info
                    h6.h6 John Smith
                    p.p1-body CEO

