section.sectionteam 
    .container 
        .sectionteam-title 
            h2.h2 Meet our team
        .sectionteam-box 
            .sectionteam-box__item 
                .item-block__img
                .item-block__gradient
                .item-block__info
                    h6.h6 John Smith
                    p.p1-body CEO
            .sectionteam-box__item 
                .item-block__img
                .item-block__gradient
                .item-block__info
                    h6.h6 John Smith
                    p.p1-body CEO
            .sectionteam-box__item 
                .item-block__img
                .item-block__gradient
                .item-block__info
                    h6.h6 John Smith
                    p.p1-body CEO
            .sectionteam-box__item 
                .item-block__img
                .item-block__gradient
                .item-block__info
                    h6.h6 John Smith
                    p.p1-body CEO
