section.sectionobj 
    .container 
        .sectionobj-box
            .sectionobj-box__item 
                p.label-two.item-title Our Mission 
                h3.h3.item-subtitle Inspire, Innovate, Share
                p.p1-body.item-txt Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .sectionobj-box__img 
                img.sectionobj-img(src="../../assets/images/missionMan.png", alt="")
        .sectionobj-box
            .sectionobj-box__img 
                img.sectionobj-img(src="../../assets/images/visibleWomen.png", alt="")
            .sectionobj-box__item
                p.label-two.item-title Our Vision
                h3.h3.item-subtitle Laser focus
                p.p1-body.item-txt Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        