//-  HEADER NAV MENU 
- var linkVar = [{link: '../../index.html', title: 'Home'},{link: '../pugMainPages/aboutUs.html', title: 'About us'},{link: '#', title: 'Features'},{link: '#', title: 'Pricing'},{link: '#', title: 'FAQ'},{link: '#', title: 'Blog'}]
//-  ABOUT US (SECOND PAGE)  SECTION_ABOUT

- var whoItem = [{title: 'Who we are', subtitle: 'Goal focussed', txt: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'},{subtitle: 'Continuous improvement', txt: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'}]

//-  ABOUT US (SECOND PAGE) SECTION PROCESS 
-var processItem = [{title: 'Planning', subtitle: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'},{title: 'Conception', subtitle: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'},{title: 'Design', subtitle: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'},{title: 'Development', subtitle: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'}]

//- ABOUT US (SECOND PAGE)  SECTION BENEFITS 

-var benefitsItem = [{title: 'Customize with ease', txt: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim.', obj: '../../assets/icons/notebookIcon.svg'},{title: 'Perfectly Responsive', txt: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim.', obj: '../../assets/icons/pencilIcon.svg'},{title: 'Friendly Support', txt: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim.', obj: '../../assets/icons/peopleIcon.svg'}]

//-  objects (SECTION BENEFITS)
-var objectItem = [{obj: '../../assets/icons/logoipsumFirst.svg'},{obj: '../../assets/icons/logoipsumSecond.svg'},{obj: '../../assets/icons/logoipsumThird.svg'},{obj: '../../assets/icons/logoipsumFour.svg'},{obj: '../../assets/icons/logoipsumFive.svg'}]