main.main 
    .container.flex-container 
        .main-title 
            h1.h1 All the features you need
            p.p2-body Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .main-btn.flex-container 
                a.main-btn__link.label-one.button(href="./pricing.html") View Pricing
        .main-picture
            img.main-img(src="../../assets/icons/feauturesimg.svg", alt="")
