//-  header vars third Page FEAUTUREs 

- var linkVar = [{link: '../../index.html', title: 'Home'},{link: '../pugMainPages/aboutUs.html', title: 'About us'},{link: '../pugMainPages/feautures.html', title: 'Features'},{link: '../pugMainPages/pricing.html', title: 'Pricing'},{link: '#', title: 'FAQ'},{link: '#', title: 'Blog'}]

//-  BENEFITS SECTION 

-var benefitsItem = [{title: 'Customize with ease', txt: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim.', obj: '../../assets/icons/notebookIcon.svg'},{title: 'Perfectly Responsive', txt: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim.', obj: '../../assets/icons/pencilIcon.svg'},{title: 'Friendly Support', txt: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim.', obj: '../../assets/icons/peopleIcon.svg'}]